In [1]:
mysql://scott:tiger@mysql:3306/default

In [195]:
show tables;

,Tables_in_default
0,castings
1,countries
2,events_agg
3,events_v2
4,genres
5,movies
6,peoples
7,purchase_20201025
8,purchase_20201026
9,rates
10,seoul_popular_trip
11,user_20201025
12,user_20201026

In [196]:
select start, count(1) from events_v2 group by start order by start asc;

,start,count(1)
0,2022-10-01 07:40:00,10
1,2022-10-01 07:41:00,10
2,2022-10-01 07:42:00,10
3,2022-10-01 07:43:00,10
4,2022-10-01 07:44:00,10
5,2022-10-01 07:45:00,10
6,2022-10-01 07:46:00,10
7,2022-10-01 07:47:00,10
8,2022-10-01 07:48:00,10
9,2022-10-01 07:49:00,10
10,2022-10-01 07:50:00,10
11,2022-10-01 07:51:00,10
12,2022-10-01 07:52:00,10
13,2022-10-01 07:53:00,10
14,2022-10-01 07:54:00,10
15,2022-10-01 07:55:00,10
16,2022-10-01 07:56:00,10
17,2022-10-01 07:57:00,10
18,2022-10-01 07:58:00,10
19,2022-10-01 07:59:00,10
20,2022-10-01 08:00:00,10
21,2022-10-01 08:01:00,10
22,2022-10-01 08:02:00,10
23,2022-10-01 08:03:00,10
24,2022-10-01 08:04:00,10
25,2022-10-01 08:05:00,10
26,2022-10-01 08:06:00,10
27,2022-10-01 08:07:00,10
28,2022-10-01 08:08:00,10
29,2022-10-01 08:09:00,10
30,2022-10-01 08:10:00,10
31,2022-10-01 08:11:00,10
32,2022-10-01 08:12:00,10
33,2022-10-01 08:13:00,10
34,2022-10-01 08:14:00,10
35,2022-10-01 08:15:00,10
36,2022-10-01 08:16:00,10
37,2022-10-01 08:17:00,10
38,2022-10-01 08:18:00,10
39,2022-10-01 08:19:00,10
40,2022-10-01 08:20:00,10
41,2022-10-01 08:21:00,10
42,2022-10-01 08:22:00,10
43,2022-10-01 08:23:00,10
44,2022-10-01 08:24:00,10
45,2022-10-01 08:25:00,10
46,2022-10-01 08:26:00,10
47,2022-10-01 08:27:00,10
48,2022-10-01 08:28:00,10
49,2022-10-01 08:29:00,10
50,2022-10-01 08:30:00,10
51,2022-10-01 08:31:00,10
52,2022-10-01 08:32:00,10
53,2022-10-01 08:33:00,10
54,2022-10-01 08:34:00,10
55,2022-10-01 08:35:00,10
56,2022-10-01 08:36:00,10
57,2022-10-01 08:37:00,10
58,2022-10-01 08:38:00,10
59,2022-10-01 08:39:00,10
60,2022-10-01 08:40:00,10
61,2022-10-01 08:41:00,10
62,2022-10-01 08:42:00,10
63,2022-10-01 08:43:00,10
64,2022-10-01 08:44:00,10
65,2022-10-01 08:45:00,10
66,2022-10-01 08:46:00,10
67,2022-10-01 08:47:00,10
68,2022-10-01 08:48:00,10
69,2022-10-01 08:49:00,10
70,2022-10-01 08:50:00,10
71,2022-10-01 08:51:00,10
72,2022-10-01 08:52:00,10
73,2022-10-01 08:53:00,10
74,2022-10-01 08:54:00,10
75,2022-10-01 08:55:00,10
76,2022-10-01 08:56:00,10
77,2022-10-01 08:57:00,10
78,2022-10-01 08:58:00,10
79,2022-10-01 08:59:00,10
80,2022-10-01 09:00:00,10
81,2022-10-01 09:01:00,10
82,2022-10-01 09:02:00,10
83,2022-10-01 09:03:00,10
84,2022-10-01 09:04:00,10
85,2022-10-01 09:05:00,10
86,2022-10-01 09:06:00,10
87,2022-10-01 09:07:00,10
88,2022-10-01 09:08:00,10
89,2022-10-01 09:09:00,10
90,2022-10-01 09:10:00,10
91,2022-10-01 09:11:00,10
92,2022-10-01 09:12:00,10
93,2022-10-01 09:13:00,10
94,2022-10-01 09:14:00,10
95,2022-10-01 09:15:00,10
96,2022-10-01 09:16:00,10
97,2022-10-01 09:17:00,10
98,2022-10-01 09:18:00,10
99,2022-10-01 09:19:00,10
100,2022-10-01 09:20:00,10
101,2022-10-01 09:21:00,10
102,2022-10-01 09:22:00,10
103,2022-10-01 09:23:00,10
104,2022-10-01 09:24:00,10
105,2022-10-01 09:25:00,10
106,2022-10-01 09:26:00,10
107,2022-10-01 09:27:00,10
108,2022-10-01 09:28:00,10
109,2022-10-01 09:29:00,10
110,2022-10-01 09:30:00,10
111,2022-10-01 09:31:00,10
112,2022-10-01 09:32:00,10
113,2022-10-01 09:33:00,10
114,2022-10-01 09:34:00,10

In [194]:
-- drop table events_agg;